
.display-content {
    opacity: 0;
    display: none;
    transition: opacity 0.1s ease-in;
  }
  
  
  .loader {
    position: fixed;
      left: 50%;
      top: 50%;
      width: 50%;
      height: 50%;
      z-index: 9999;
  }
  
  .loader > span {
    display: inline-block;
    background-color: purple;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin: 0 4px;
    transform: translate3d(0);
    animation: bounce 0.5s infinite alternate;
  }
  
  .loader > span:nth-child(2) {
    background-color: palevioletred;
    animation-delay: 0.166s;
  }
  
  .loader > span:nth-child(3) {
    animation-delay: 0.3333s;
  }
  
  @keyframes bounce {
    to {
      width: 12px;
      height: 12px;
      transform: translate3d(0, -12px, 0);
    }
  }
  
  @media (max-width: 767.98px) {
    .loader > span {
      margin: 0 2px;
    }

    @keyframes bounce {
      to {
        width: 8px;
        height: 8px;
        transform: translate3d(0, -8px, 0);
      }
    }
  }