

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page-Om Bheri Dental Hospital</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body{
            background-color: #f8f9fa;
        }
        ul {
            list-style-type: none;
            padding: 0;
        margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="border mt-5 rounded shadow w-50 bg-white mx-auto">
            <div class="bg-dark text-white pb-2 pt-3 text-center rounded-top">
                <h4>User Login</h4>
            </div>
            
            <div class="m-3 ">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    
                    {{ form|crispy }}
                    <div class="row justify-content-center align-items-center mb-3">
                        <button type="submit" class="btn btn-outline-info btn-lg mt-2">Log In</button>
                    </div>
                </form>
            </div>
            <p class="text-center">Create a new account? <a href="{% url 'signup' %}">SignUp</a></p>
        </div>
        
    </div>
</body>
</html>