{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Login page-Om Bheri Dental Hospital</title>
    <!-- add icon link -->
    <link rel = "icon" href = "{% static 'images/logo.jpg' %}" type = "image/x-icon"> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body{
            background-color: #f8f9fa;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        @media (max-width: 700px) {
            body {
                font-size: small;
            }

            .box {
                width: 75%;
            }
        }
        @media (min-width: 700px){
            .box {
                width: 50%;
            }
        }


    </style>
</head>
<body>
    <div class="container pt-5">
        <div class="border mt-5 rounded shadow bg-white mx-auto box">
            <div class="bg-dark rounded-top shadow text-center p-3">
                <img src="/static/images/logo-login.jpg" alt="" class="rounded img-fluid">
            </div>
            
            <div class="m-3">
                {% if success %}
                <div class="alert alert-success font-weight-bold text-center success" role="success">{{ success }}</div>
            {% endif %}
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    
                    {{ form|crispy }}
                    <div class="row justify-content-center align-items-center mb-3">
                        <button type="submit" class="btn btn-outline-info mt-2 mb-2">Log In</button>
                    </div>
                </form>
            </div>
            <p class="text-center">Create a new account? <a href="{% url 'signup' %}">Sign Up</a></p>
        </div>
        
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
   $("document").ready(function(){
       setTimeout(()=>{
        $(".success").fadeOut("slow","linear");
       },4000)
    });
</script>
